@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century-gothic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/century-gothic-bold.woff2") format("woff2"),
    url("/fonts/century-gothic-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GE Dinar One Medium";
  src: url("/fonts/ge-dinar-one-medium.woff2") format("woff2"),
    url("/fonts/ge-dinar-one-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    color: theme("colors.rgFontColor");
    font-family: theme("fontFamily.century");
  }
}
/* Add this to your global CSS file */
:root[lang="en"] body,
body.lang-en {
  font-family: "Century Gothic", sans-serif;
}

:root[lang="ar"] body,
body.lang-ar {
  font-family: "GE Dinar One Medium", sans-serif;
}
